

.main {
    background-color: #eee;
    width: 100%;
}

.user {
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 80px;
    align-items: center;
}

.user_img {
    display: flex;
    margin-right: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 54px;
}

.d.flex {
    display: flex;
}

.container{
    height: 100vh;
}

